.App {
  text-align: center;
}

.CodeMirror {
  height: auto; /* Adjusts the height automatically */
  text-align: left; /* Ensures text is left-aligned */
}

/* Optional: Add some padding for better aesthetics */
.CodeMirror .CodeMirror-scroll {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
